@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'open Sans', sans-serif;
    
    
}
li{
    list-style: none;
    font-size: 1.3rem;
    margin: 10px 10px;
    padding: 10px 10px;
    
    
    
    
    

}
ul li a{
    text-decoration: none;
}
div img{
    display: inline-block;
    max-width: 100%;
    
}

header {
    background-color: #122a57;
    height: 200px;
    color: #fff;
    width: 100%;
   
    
    
}

.list-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.menu {
    justify-content: space-around;
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 100%;
    
    
}
.menu h1 {
margin-top: 30px;
}


.list-itens li a {
    color: #fff;
}
@media(max-width: 700px){
    .menu{
        flex-direction: column;
        width: 310px; text-align: center;background-color: #122a57;height: 150px; margin-left: -20px;}
    .list-itens{padding: 15px 5px;} 
    header{background-color: #122a57;height: 150px; width: 310px;}   
    
        

}
.apresentacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
@media(max-width: 700px){
    .apresentacao {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#quem-somos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
    margin-left: 35px;

}
#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}
#quem-somos p{
    width: 60%;
    margin-left: 35px;
    margin-bottom: 5px;
    
    
}
#quem-somos img {
    max-width: 370px;
    min-width: 300px;
    margin-right: 230px;

}
@media(max-width: 700px){
    #quem-somos {flex-direction: column; align-items: center;width: 100%;}
    #quem-somos p{width: 80%; text-align: center;}
    #quem-somos img {
        margin-left: 250px;
    }
}
.container-externo {
    background-color: #122a57;
    width: 90%;
    margin-left: 60px;
}
#servico {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
#servico h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
    margin-left: 15px;
}
.list-servico { 
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 30px;
}
.item-servico {
    text-align: center;
}
.item-servico a {
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;

}
.item-servico p {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-top: 40px;

}
.item-servico img {
    width: 100%;
}
@media(max-width: 700px){
    .item-servico{
        width: 90%; margin-left: 5px;}
      .item-servico img { width: 60%; }
      .container-externo{ width: 100%; margin-left: 10px; }
      .list-servico{ width: 90%; }
      #servico h2{
        margin-left: 50px;
      }

}
a:hover {
    text-decoration: underline;
}
#planos {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 90%;
    margin-left: 50px;

}
#planos h2 {
    font-size: 32px;
    
}
.list-planos {
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.item-plano {
    display: flex;
    border: 5px solid #122a57;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    

}
.item-plano li{
    width: 100%;
}

@media(max-width: 700px){
    .item-plano li {width: 280px; font-size: 1.2rem; padding-top: 20px;}
    #planos{ width: 100%; align-items: center; justify-content: center;flex-direction: column;}
    .item-plano.btn {font-size: 1.2rem;}
    .list-planos{display: flex; width: 100%;flex-direction: column;}
    .item-plano {
        margin: 10px; align-items: center; display: flex; margin-right: 100px;
    }
}
.item-plano .btn {
    width: 80%;
    margin: auto;
}
.item-plano h3 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

}
.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 90%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.item-plano ul{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}
.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    

}
.item-plano ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #122a57;
    margin-right: 40px;
    justify-content: center;
    
   

}
footer{
    width: 100%;
    flex-wrap: nowrap;
    margin: 12px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #122a57;
    height: 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}
footer p{text-align: center; font-size: 1.4rem;}
footer a{
    color: #fff;   
}
@media(max-width: 700px){
    footer{width: 350px;}
}
