@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: 'open Sans', sans-serif;
    
    
}
li{
    list-style: none;
    font-size: 1.3rem;
    margin: 10px 10px;
    padding: 10px 10px;
    
    
    
    
    

}
ul li a{
    text-decoration: none;
}
div img{
    display: inline-block;
    max-width: 100%;
    
}
.flex-container {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;
    
}
header {
    background-color: #122a57;
    height: 200px;
    color: #fff;
    
    
    
}

.list-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.menu {
    justify-content: space-between;
    display: flex;
    margin: 10px;
    padding: 20px;
    width: 100%;
    
}


.list-itens li a {
    color: #fff;
}
@media(max-width: 700px){
    .menu{
        flex-direction: column;
        width: 100%; text-align: center; align-items: center;}
    .list-itens{padding: 5px 5px;}    
        

}
.apresentacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 700px){
    .apresentacao {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;}
}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;

}
#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}
#quem-somos p{
    margin-left: 5px;
    margin-bottom: 5px;
    
    
}
#quem-somos img {
    max-width: 370px;
    min-width: 300px;

}
@media(max-width: 700px){
    #quem-somos {flex-direction: column; align-items: center;width: 100%;}
    #quem-somos p{width: 100%; text-align: center;}
}
.container-externo {
    background-color: #122a57;
}
#servico {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
#servico h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}
.list-servico { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.item-servico {
    text-align: center;
}
.item-servico a {
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #122a57;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;

}
.item-servico p {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-top: 40px;

}
.item-servico img {
    width: 100%;
}
@media(max-width: 700px){
    .item-servico{
        flex-direction: column;
        width: 100%; margin-left: 60px;}
      .item-servico img { width: 50%;
    }
}
a:hover {
    text-decoration: underline;
}
#planos {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;

}
#planos h2 {
    font-size: 32px;
    
}
.list-planos {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.item-plano {
    border: 5px solid #122a57;
    margin-right: 5px;
    padding: 10px;
    justify-content: space-between;
    

}
@media(max-width: 700px){
    .item-plano li { max-width: 100%; font-size: 1.3rem; padding: 5px;flex-direction: column;}
    #planos{align-items: center; justify-content: center;margin-right: 5px;flex-direction: column;}
    .item-plano. btn {font-size: 1.2rem;}
    .list-planos{display: flex; flex-direction: column;width: 100%;}
}
.item-plano .btn {
    width: 80%;
    margin: auto;
}
.item-plano h3 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

}
.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 90%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-plano ul{
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    

}
.item-plano ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #122a57;
    margin-right: 2px;
   

}
footer{
    width: 100vh;
    flex-wrap: nowrap;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #122a57;
    height: 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
}
footer p{text-align: center;}
footer a{
    color: #fff;   
}
